@font-face {
    font-family: "RobotoReg";
    src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "RobotoMed";
    src: url(/fonts/Roboto-Medium.ttf);
}

body {
    font-family: "RobotoMed", sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#contenedor {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#caja1, #caja2, #caja3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    width: 240px;
    height: 200px;
    border-radius: 4px;
}

#caja1 {
    background-color: #2c4268;
    color: azure;
}
#caja2 {
    background-color: #007bba;
    color: azure;
    position: relative;
}
#pais {
    font-size: 18px;
    position: absolute;
    top: 86px;
    right: 110px;
    font-family: "RobotoReg", sans-serif;
}
#caja3 {
    background-color: #00a9e2;
    color: azure;
}

.pop-up {
    background-color: #23233b;
    padding: 10px 30px;
    border-radius: 20px;
}
.pop-up__text {
    color: #e1ecf7;
}
.off {
    display: none;
    visibility: hidden;
}